{"openapi":"3.1.0","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"http://happ-api.comcode.com.br/api/v1","description":"Generated server url"}],"tags":[{"name":"Moderação de Reviews","description":"Endpoints administrativos para ocultar e listar reports"},{"name":"Pedidos","description":"Checkout e consulta de pedidos do customer"},{"name":"Notifications","description":"Notificações in-app do usuário logado"},{"name":"Franchise: States","description":"Território por estado dos franqueados Estaduais"},{"name":"Variantes de Produto","description":"Endpoints de variantes (SKUs) e atributos do produto"},{"name":"Localidades","description":"Endpoints para consulta de estados e cidades"},{"name":"Ledger","description":"Extrato (lançamentos imutáveis) do supplier"},{"name":"Withdrawals","description":"Saques do supplier"},{"name":"Gestão de usuários (admin)","description":"Operações administrativas sobre usuários (encerramento e reset de senha)"},{"name":"Enderecos da Loja","description":"Endpoints de enderecos cadastrados pela loja"},{"name":"Franchise: Territories","description":"Territórios (cidades) atribuídos aos franqueados"},{"name":"Franchise: Hierarchy","description":"Hierarquia de franqueados (SPEC-051)"},{"name":"Refunds","description":"Refund/cancelamento de item por customer e admin"},{"name":"Agendamentos de Serviço","description":"Bloqueios manuais e listagem de agenda"},{"name":"Conta do usuário autenticado","description":"Operações sobre a conta do próprio usuário autenticado"},{"name":"NPS","description":"Coleta de NPS via token enviado por e-mail (sem login)"},{"name":"Cobertura da Loja","description":"Cidades atendidas pela loja"},{"name":"Content: FAQ","description":"Perguntas frequentes (público + admin)"},{"name":"Franchisee Ledger","description":"Extrato de comissões do franqueado — SPEC-046"},{"name":"Avaliações de Loja","description":"Reviews 1..5 estrelas por loja (1 por customer)"},{"name":"Lojas","description":"Endpoints de cadastro, atualizacao e busca de lojas"},{"name":"Franchise: SupplierNotes","description":"Notas privadas dos franqueados/admin sobre suppliers"},{"name":"Promoções","description":"CRUD de promoções por variante (% off / R$ off)"},{"name":"Chat","description":"Conversa 1:1 entre customer e supplier por sub-order"},{"name":"Franchisee Revenue","description":"Painel de receita do franqueado — SPEC-046 §3.4"},{"name":"Franchisee: Reports","description":"Relatórios territoriais do franqueado autenticado (SPEC-056 §3.3)"},{"name":"Uploads","description":"Upload de imagens para produtos e lojas"},{"name":"Avaliações de Produto","description":"Reviews 1..5 estrelas por produto (1 por customer)"},{"name":"Produtos","description":"Endpoints de cadastro e gestao de produtos/servicos"},{"name":"CustomerWithdrawals","description":"Saques da carteira do cliente"},{"name":"Usuários","description":"Endpoints para consulta e gestão de usuários"},{"name":"Produtos — Moderação Admin","description":"Listagem/busca de produtos de qualquer fornecedor para a fila de moderação (admin)."},{"name":"Franchisee Balance","description":"Saldo (comissão) do franqueado — SPEC-046"},{"name":"Analytics","description":"Estatísticas internas (admin)"},{"name":"Avaliações de Produto — Supplier","description":"Reviews dos produtos do supplier logado, agregadas"},{"name":"Horarios da Loja","description":"Endpoints de horarios de funcionamento"},{"name":"Imagens de Produto","description":"Endpoints da galeria de imagens dos produtos"},{"name":"Balance","description":"Saldo do supplier"},{"name":"Carrinho","description":"Carrinho do cliente (logado) ou anônimo (via X-Cart-Session-Id)"},{"name":"Fornecedores","description":"Endpoints para cadastro e atualização de fornecedores"},{"name":"CustomerBalance","description":"Carteira/saldo do cliente"},{"name":"Endereços do Cliente","description":"CRUD dos endereços salvos do cliente logado (atalhos para checkout)"},{"name":"Administradores","description":"Endpoints para cadastro e atualização de administradores"},{"name":"CustomerLedger","description":"Extrato (imutável) da carteira do cliente"},{"name":"Franqueados","description":"Endpoints para cadastro, atualização e consulta de franqueados"},{"name":"Webhooks de pagamento","description":"Endpoints abertos para callback dos gateways"},{"name":"Agenda do fornecedor","description":"Agenda agregada (reservas e bloqueios) de todos os serviços do fornecedor logado"},{"name":"Franchise: SupplierAction","description":"Ações do franqueado/admin sobre um supplier (aprovar, reprovar, suspender, advertir)"},{"name":"Clientes","description":"Endpoints para cadastro e atualização de clientes"},{"name":"Q&A — Moderação Admin","description":"Moderação de perguntas (ocultar/desocultar) e listagem para painel admin."},{"name":"Content: Legal","description":"Documentos legais (Política de Privacidade, Termos, etc) com versionamento"},{"name":"Reports de Reviews","description":"Endpoints para supplier reportar reviews abusivas/fake"},{"name":"Admin: Reports","description":"Relatórios e BI para o admin (SPEC-056 §3.1, SPEC-109)"},{"name":"Franchise: Supplier Metrics","description":"Métricas e alertas de performance dos suppliers (visão franqueado/admin)"},{"name":"Configuração de Serviço","description":"ServiceConfig 1:1 com produtos do tipo SERVICE"},{"name":"Franchisee Payouts","description":"Repasses de comissão ao franqueado — SPEC-046"},{"name":"Admin: Financeiro","description":"Visão financeira consolidada do admin: repasses + extrato/saldo individual (SPEC-099)."},{"name":"Horarios de Produto","description":"Override dos horarios do produto sobre os horarios da loja"},{"name":"Busca Pública","description":"Busca de produtos publicados (marketplace)"},{"name":"Push Subscriptions","description":"Registro de Web Push subscriptions e exposição da chave pública VAPID (SPEC-054)"},{"name":"Equipes/Prestadores de Serviço","description":"Equipes/prestadores vinculados a uma ServiceConfig"},{"name":"Sub-pedidos","description":"Operações de aceite, entrega, conclusão e cancelamento por sub-order"},{"name":"Audit","description":"Trilha de auditoria — visualização do admin"},{"name":"Categorias","description":"Endpoints de cadastro e consulta de categorias e atributos"},{"name":"Perguntas de Produto (Q&A)","description":"Endpoints de Q&A pré-compra: customer pergunta, supplier dono responde, listagem pública."},{"name":"Festas","description":"Festas cadastradas pelos clientes (eventos)"},{"name":"Documentos do Supplier","description":"Upload, listagem, download e remoção de documentos do supplier"},{"name":"Supplier Metrics (me)","description":"Métricas de performance do supplier logado"},{"name":"Admin: Impersonação","description":"Permite que admins acessem a plataforma como outro usuário para suporte (SPEC-058)"},{"name":"Autenticação","description":"Endpoints de autenticação e verificação"},{"name":"Pagamentos","description":"Consulta e cancelamento de pagamentos"}],"paths":{"/suppliers/{id}":{"get":{"tags":["Fornecedores"],"summary":"Busca fornecedor por id para o portal administrativo","operationId":"buscarPorId","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SupplierResponse"}}}}}},"put":{"tags":["Fornecedores"],"summary":"Atualizar fornecedor","operationId":"atualizarSupplier","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SupplierUpdateRequest"}}},"required":true},"responses":{"200":{"description":"Fornecedor atualizado com sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SupplierResponse"}}}},"404":{"description":"Fornecedor não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SupplierResponse"}}}},"422":{"description":"Erro de validação","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SupplierResponse"}}}}}}},"/stores/{storeId}/reviews":{"get":{"tags":["Avaliações de Loja"],"summary":"Listar reviews visíveis da loja (paginado)","operationId":"listar","parameters":[{"name":"storeId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageStoreReviewResponse"}}}}}},"put":{"tags":["Avaliações de Loja"],"summary":"Atualizar a própria review da loja","operationId":"atualizar","parameters":[{"name":"storeId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateReviewRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StoreReviewResponse"}}}}}},"post":{"tags":["Avaliações de Loja"],"summary":"Criar review da loja (exige SubOrder COMPLETED naquela loja)","operationId":"criar","parameters":[{"name":"storeId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateReviewRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StoreReviewResponse"}}}}}}},"/stores/{storeId}/operating-days":{"get":{"tags":["Horarios da Loja"],"summary":"Listar horarios da loja","operationId":"listar_1","parameters":[{"name":"storeId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StoreOperatingDayResponse"}}}}}}},"put":{"tags":["Horarios da Loja"],"summary":"Definir horarios de funcionamento (substitui todos)","operationId":"definir","parameters":[{"name":"storeId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StoreOperatingDayRequest"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StoreOperatingDayResponse"}}}}}}}},"/stores/{id}":{"put":{"tags":["Lojas"],"summary":"Atualizar loja","operationId":"atualizarLoja","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StoreResponse"}}}}}}},"/stores/addresses/{addressId}":{"put":{"tags":["Enderecos da Loja"],"summary":"Atualizar endereco","operationId":"atualizar_1","parameters":[{"name":"addressId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreAddressRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StoreAddressResponse"}}}}}},"delete":{"tags":["Enderecos da Loja"],"summary":"Remover endereco","operationId":"remover","parameters":[{"name":"addressId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/service-providers/{providerId}":{"put":{"tags":["Equipes/Prestadores de Serviço"],"summary":"Atualizar equipe/prestador","operationId":"atualizar_2","parameters":[{"name":"providerId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceProviderRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ServiceProviderResponse"}}}}}},"delete":{"tags":["Equipes/Prestadores de Serviço"],"summary":"Remover equipe/prestador","operationId":"remover_1","parameters":[{"name":"providerId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/service-configs/{configId}":{"get":{"tags":["Configuração de Serviço"],"summary":"Buscar config por id","operationId":"buscarPorId_1","parameters":[{"name":"configId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ServiceConfigResponse"}}}}}},"put":{"tags":["Configuração de Serviço"],"summary":"Atualizar config de serviço","operationId":"atualizar_3","parameters":[{"name":"configId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceConfigRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ServiceConfigResponse"}}}}}},"delete":{"tags":["Configuração de Serviço"],"summary":"Excluir config de serviço","operationId":"excluir","parameters":[{"name":"configId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/questions/{questionId}/answer":{"put":{"tags":["Perguntas de Produto (Q&A)"],"summary":"Supplier dono edita uma resposta já publicada","operationId":"editarResposta","parameters":[{"name":"questionId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductAnswerRequest"}}},"required":true},"responses":{"200":{"description":"Resposta atualizada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductAnswerResponse"}}}},"403":{"description":"Usuário não é supplier dono da loja","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductAnswerResponse"}}}},"404":{"description":"Pergunta ou resposta não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductAnswerResponse"}}}}}},"post":{"tags":["Perguntas de Produto (Q&A)"],"summary":"Supplier dono da loja responde a pergunta (idempotente: 409 se já respondida)","operationId":"responder","parameters":[{"name":"questionId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductAnswerRequest"}}},"required":true},"responses":{"201":{"description":"Resposta publicada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductAnswerResponse"}}}},"403":{"description":"Usuário não é supplier dono da loja","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductAnswerResponse"}}}},"404":{"description":"Pergunta não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductAnswerResponse"}}}},"409":{"description":"Pergunta já possui resposta","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductAnswerResponse"}}}}}}},"/promotions/{promotionId}":{"put":{"tags":["Promoções"],"summary":"Atualizar promoção","operationId":"atualizar_4","parameters":[{"name":"promotionId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PromotionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PromotionResponse"}}}}}},"delete":{"tags":["Promoções"],"summary":"Remover promoção","operationId":"remover_2","parameters":[{"name":"promotionId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/products/{productId}/reviews":{"get":{"tags":["Avaliações de Produto"],"summary":"Listar reviews visíveis do produto (paginado, ordem decrescente)","operationId":"listar_2","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageProductReviewResponse"}}}}}},"put":{"tags":["Avaliações de Produto"],"summary":"Atualizar a própria review do produto","operationId":"atualizar_5","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateReviewRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductReviewResponse"}}}}}},"post":{"tags":["Avaliações de Produto"],"summary":"Criar review do produto (exige SubOrder COMPLETED com o produto)","operationId":"criar_1","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateReviewRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductReviewResponse"}}}}}}},"/products/{productId}/operating-days":{"get":{"tags":["Horarios de Produto"],"summary":"Listar horarios do produto","operationId":"listar_3","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProductOperatingDayResponse"}}}}}}},"put":{"tags":["Horarios de Produto"],"summary":"Definir horarios do produto (substitui todos)","operationId":"definir_1","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProductOperatingDayRequest"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProductOperatingDayResponse"}}}}}}}},"/products/{id}":{"get":{"tags":["Produtos"],"summary":"Buscar produto por id","operationId":"buscarPorId_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductResponse"}}}}}},"put":{"tags":["Produtos"],"summary":"Atualizar produto","operationId":"atualizar_6","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductResponse"}}}}}},"delete":{"tags":["Produtos"],"summary":"Excluir (arquivar) produto do supplier logado","operationId":"excluir_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/products/variants/{variantId}":{"get":{"tags":["Variantes de Produto"],"summary":"Buscar variante por id","operationId":"buscar","parameters":[{"name":"variantId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductVariantResponse"}}}}}},"put":{"tags":["Variantes de Produto"],"summary":"Atualizar variante","operationId":"atualizar_7","parameters":[{"name":"variantId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductVariantRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductVariantResponse"}}}}}},"delete":{"tags":["Variantes de Produto"],"summary":"Remover variante","operationId":"remover_3","parameters":[{"name":"variantId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/products/images/{imageId}":{"put":{"tags":["Imagens de Produto"],"summary":"Atualizar imagem","operationId":"atualizar_8","parameters":[{"name":"imageId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductImageRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductImageResponse"}}}}}},"delete":{"tags":["Imagens de Produto"],"summary":"Remover imagem","operationId":"remover_4","parameters":[{"name":"imageId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/parties/{partyId}":{"get":{"tags":["Festas"],"summary":"Buscar festa por id","operationId":"buscar_1","parameters":[{"name":"partyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PartyResponse"}}}}}},"put":{"tags":["Festas"],"summary":"Atualizar festa","operationId":"atualizar_9","parameters":[{"name":"partyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartyRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PartyResponse"}}}}}},"delete":{"tags":["Festas"],"summary":"Excluir festa","operationId":"excluir_2","parameters":[{"name":"partyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/franchisees/{id}":{"get":{"tags":["Franqueados"],"summary":"Buscar franqueado por id. Requer permissão MANAGE_FRANCHISES.","operationId":"buscarPorId_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Franqueado encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FranchiseeResponse"}}}},"403":{"description":"Sem permissão MANAGE_FRANCHISES","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FranchiseeResponse"}}}},"404":{"description":"Franqueado não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FranchiseeResponse"}}}}}},"put":{"tags":["Franqueados"],"summary":"Atualizar franqueado","operationId":"atualizarFranchisee","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FranchiseeUpdateRequest"}}},"required":true},"responses":{"200":{"description":"Franqueado atualizado com sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FranchiseeResponse"}}}},"404":{"description":"Franqueado não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FranchiseeResponse"}}}},"422":{"description":"Erro de validação","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FranchiseeResponse"}}}}}}},"/franchise/suppliers/{supplierId}/review-assignment":{"put":{"tags":["Franchise: SupplierAction"],"summary":"Reatribuir o caso jurídico (somente matriz/admin)","description":"franchiseeId nulo move o caso para a fila da matriz","operationId":"reatribuirAnalise","parameters":[{"name":"supplierId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SupplierReviewAssignmentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SupplierResponse"}}}}}}},"/franchise/notes/{noteId}":{"put":{"tags":["Franchise: SupplierNotes"],"summary":"Editar uma nota (somente autor ou admin)","operationId":"atualizar_10","parameters":[{"name":"noteId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SupplierNoteRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SupplierNoteResponse"}}}}}},"delete":{"tags":["Franchise: SupplierNotes"],"summary":"Deletar uma nota (somente autor ou admin)","operationId":"deletar","parameters":[{"name":"noteId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/customers/{id}":{"put":{"tags":["Clientes"],"summary":"Atualizar cliente","operationId":"atualizarCustomer","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerUpdateRequest"}}},"required":true},"responses":{"200":{"description":"Cliente atualizado com sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerResponse"}}}},"404":{"description":"Cliente não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerResponse"}}}},"422":{"description":"Erro de validação","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerResponse"}}}}}}},"/customers/me/addresses/{id}":{"put":{"tags":["Endereços do Cliente"],"summary":"Atualizar endereço (somente o dono)","operationId":"atualizar_11","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerAddressRequest"}}},"required":true},"responses":{"200":{"description":"Endereço atualizado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerAddressResponse"}}}},"403":{"description":"Endereço não pertence ao cliente logado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerAddressResponse"}}}},"404":{"description":"Endereço não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerAddressResponse"}}}},"422":{"description":"Erro de validação","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerAddressResponse"}}}}}},"delete":{"tags":["Endereços do Cliente"],"summary":"Remover endereço","operationId":"remover_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"Endereço removido"},"403":{"description":"Endereço não pertence ao cliente logado"},"404":{"description":"Endereço não encontrado"}}}},"/categories/{id}":{"get":{"tags":["Categorias"],"summary":"Buscar categoria por id (com atributos)","operationId":"buscarPorId_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CategoryResponse"}}}}}},"put":{"tags":["Categorias"],"summary":"Atualizar categoria","operationId":"atualizar_12","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CategoryResponse"}}}}}},"delete":{"tags":["Categorias"],"summary":"Excluir categoria","operationId":"excluir_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/admins/{id}":{"get":{"tags":["Administradores"],"summary":"Buscar administrador por id. Requer permissão MANAGE_SYSTEM.","operationId":"buscarPorId_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Administrador encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdminResponse"}}}},"403":{"description":"Sem permissão MANAGE_SYSTEM","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdminResponse"}}}},"404":{"description":"Administrador não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdminResponse"}}}}}},"put":{"tags":["Administradores"],"summary":"Atualizar administrador","operationId":"atualizarAdmin","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminUpdateRequest"}}},"required":true},"responses":{"200":{"description":"Administrador atualizado com sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdminResponse"}}}},"403":{"description":"Sem permissão MANAGE_USERS","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdminResponse"}}}},"404":{"description":"Administrador não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdminResponse"}}}},"422":{"description":"Erro de validação","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdminResponse"}}}}}}},"/admin/faqs/{id}":{"put":{"tags":["Content: FAQ"],"summary":"Admin atualiza FAQ (campos nulos não alteram)","operationId":"atualizar_13","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FaqUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FaqResponse"}}}}}},"delete":{"tags":["Content: FAQ"],"summary":"Admin remove FAQ","operationId":"deletar_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/withdrawals":{"post":{"tags":["Withdrawals"],"summary":"Supplier solicita saque (debita imediatamente o saldo disponível e dispara payout async)","operationId":"solicitar","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WithdrawalRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WithdrawalResponse"}}}}}}},"/webhooks/payments/{gatewayName}":{"post":{"tags":["Webhooks de pagamento"],"summary":"Callback do gateway de pagamento","operationId":"callback","parameters":[{"name":"gatewayName","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentCallbackRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/uploads/images":{"post":{"tags":["Uploads"],"summary":"Upload de imagem (multipart). Retorna a storage key e a URL pública","operationId":"uploadImagem","parameters":[{"name":"context","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"201":{"description":"Imagem enviada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ImageUploadResponse"}}}},"400":{"description":"Content-type ou tamanho inválido","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ImageUploadResponse"}}}}}}},"/suppliers":{"get":{"tags":["Fornecedores"],"summary":"Lista fornecedores para o portal administrativo","operationId":"buscarParaAdmin","parameters":[{"name":"nome","in":"query","required":false,"schema":{"type":"string"}},{"name":"email","in":"query","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["AWAITING_DOCUMENTS","IN_REVIEW","DOCUMENTS_PENDING","APPROVED","SUSPENDED","REJECTED"]}},{"name":"approvalQueue","in":"query","required":false,"schema":{"type":"string","enum":["FRANCHISEE","MATRIX"]}},{"name":"somenteEmAnalise","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageSupplierResponse"}}}}}},"post":{"tags":["Fornecedores"],"summary":"Cadastrar novo fornecedor","operationId":"cadastrarSupplier","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SupplierRequest"}}},"required":true},"responses":{"201":{"description":"Fornecedor cadastrado com sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SupplierResponse"}}}},"400":{"description":"Requisição inválida","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SupplierResponse"}}}},"404":{"description":"Recurso relacionado não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SupplierResponse"}}}},"422":{"description":"Erro de validação","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SupplierResponse"}}}}}}},"/suppliers/{supplierId}/documents":{"get":{"tags":["Documentos do Supplier"],"summary":"Listar metadados dos documentos do supplier","operationId":"listar_4","parameters":[{"name":"supplierId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-Caller-Role","in":"header","required":true,"schema":{"type":"string","enum":["SUPPLIER","FRANCHISEE","ADMIN"]}},{"name":"X-Caller-Id","in":"header","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Lista retornada","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SupplierDocumentResponse"}}}}},"403":{"description":"Caller sem permissão","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SupplierDocumentResponse"}}}}},"404":{"description":"Supplier não encontrado","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SupplierDocumentResponse"}}}}}}},"post":{"tags":["Documentos do Supplier"],"summary":"Upload de documento (multipart). Substitui o documento existente do mesmo tipo","operationId":"upload","parameters":[{"name":"supplierId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"type","in":"query","required":true,"schema":{"type":"string","enum":["IDENTITY","CRIMINAL_RECORD","CNPJ_CARD"]}},{"name":"X-Caller-Role","in":"header","description":"Papel do caller","required":true,"schema":{"type":"string","enum":["SUPPLIER","FRANCHISEE","ADMIN"]}},{"name":"X-Caller-Id","in":"header","description":"Id do usuário caller","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"201":{"description":"Documento salvo","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SupplierDocumentResponse"}}}},"400":{"description":"Tipo, content-type ou tamanho inválido","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SupplierDocumentResponse"}}}},"403":{"description":"Caller sem permissão","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SupplierDocumentResponse"}}}},"404":{"description":"Supplier não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SupplierDocumentResponse"}}}}}}},"/sub-orders/{id}/reject":{"post":{"tags":["Sub-pedidos"],"summary":"Supplier rejeita a sub-order","operationId":"rejeitar","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubOrderRejectRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/sub-orders/{id}/deliver":{"post":{"tags":["Sub-pedidos"],"summary":"Supplier marca a sub-order como entregue","operationId":"entregar","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/sub-orders/{id}/contest":{"post":{"tags":["Sub-pedidos"],"summary":"Customer contesta a entrega. Aceita autenticado (CUSTOMER dono) ou via contestToken enviado por e-mail.","operationId":"contestar","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubOrderContestRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/sub-orders/{id}/complete":{"post":{"tags":["Sub-pedidos"],"summary":"Customer confirma a conclusão (sem contestação)","operationId":"concluir","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/sub-orders/{id}/cancel/supplier":{"post":{"tags":["Sub-pedidos"],"summary":"Supplier cancela a sub-order (apenas em PENDING)","operationId":"cancelarComoSupplier","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubOrderCancelRequest"}}}},"responses":{"200":{"description":"OK"}}}},"/sub-orders/{id}/cancel/customer":{"post":{"tags":["Sub-pedidos"],"summary":"Customer cancela a sub-order (apenas em PENDING)","operationId":"cancelarComoCustomer","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubOrderCancelRequest"}}}},"responses":{"200":{"description":"OK"}}}},"/sub-orders/{id}/cancel/admin":{"post":{"tags":["Sub-pedidos"],"summary":"Admin cancela a sub-order em qualquer status não-final","operationId":"cancelarComoAdmin","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubOrderCancelRequest"}}}},"responses":{"200":{"description":"OK"}}}},"/sub-orders/{id}/accept":{"post":{"tags":["Sub-pedidos"],"summary":"Supplier aceita a sub-order","operationId":"aceitar","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/sub-orders/admin/{id}/resolve-contest":{"post":{"tags":["Sub-pedidos"],"summary":"Admin resolve a contestação como COMPLETE ou REFUND","operationId":"resolverContestacao","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubOrderResolveContestRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/stores/{storeId}/coverage-cities":{"get":{"tags":["Cobertura da Loja"],"summary":"Listar cidades atendidas","operationId":"listar_5","parameters":[{"name":"storeId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StoreCoverageCityResponse"}}}}}}},"post":{"tags":["Cobertura da Loja"],"summary":"Adicionar cidades a area de atendimento (batch)","operationId":"adicionar","parameters":[{"name":"storeId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"integer","format":"int32"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StoreCoverageCityResponse"}}}}}}}},"/stores/{storeId}/addresses":{"get":{"tags":["Enderecos da Loja"],"summary":"Listar enderecos da loja","operationId":"listar_6","parameters":[{"name":"storeId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StoreAddressResponse"}}}}}}},"post":{"tags":["Enderecos da Loja"],"summary":"Adicionar endereco a loja","operationId":"adicionar_1","parameters":[{"name":"storeId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreAddressRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StoreAddressResponse"}}}}}}},"/stores/suppliers/{supplierId}":{"get":{"tags":["Lojas"],"summary":"Buscar loja do fornecedor","operationId":"buscarPorSupplier","parameters":[{"name":"supplierId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StoreResponse"}}}}}},"post":{"tags":["Lojas"],"summary":"Cadastrar loja do fornecedor","operationId":"cadastrarLoja","parameters":[{"name":"supplierId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StoreRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StoreResponse"}}}}}}},"/service-configs/{configId}/schedules/block":{"post":{"tags":["Agendamentos de Serviço"],"summary":"Bloquear data manualmente (BLOCKED)","operationId":"bloquear","parameters":[{"name":"configId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceScheduleBlockRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ServiceScheduleResponse"}}}}}}},"/service-configs/{configId}/providers":{"get":{"tags":["Equipes/Prestadores de Serviço"],"summary":"Listar equipes/prestadores da config","operationId":"listar_7","parameters":[{"name":"configId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ServiceProviderResponse"}}}}}}},"post":{"tags":["Equipes/Prestadores de Serviço"],"summary":"Cadastrar equipe/prestador","operationId":"cadastrar","parameters":[{"name":"configId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceProviderRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ServiceProviderResponse"}}}}}}},"/reviews/store/{reviewId}/report":{"post":{"tags":["Reports de Reviews"],"summary":"Supplier dono da loja reporta review","operationId":"reportarStore","parameters":[{"name":"reviewId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportReviewRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReviewReportResponse"}}}}}}},"/reviews/product/{reviewId}/report":{"post":{"tags":["Reports de Reviews"],"summary":"Supplier dono do produto reporta review","operationId":"reportarProduct","parameters":[{"name":"reviewId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportReviewRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ReviewReportResponse"}}}}}}},"/refunds/sub-order-items/{itemId}/customer":{"post":{"tags":["Refunds"],"summary":"Customer solicita refund de um item (AWAITING_PAYMENT ou PENDING)","operationId":"solicitarPeloCustomer","parameters":[{"name":"itemId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefundRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RefundResponse"}}}}}}},"/refunds/sub-order-items/{itemId}/admin":{"post":{"tags":["Refunds"],"summary":"Admin solicita refund de um item","operationId":"solicitarPeloAdmin","parameters":[{"name":"itemId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefundRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/RefundResponse"}}}}}}},"/push-subscriptions":{"post":{"tags":["Push Subscriptions"],"summary":"Registra ou atualiza (idempotente por endpoint) uma subscription Web Push do usuário logado","operationId":"registrar","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PushSubscriptionRequest"}}},"required":true},"responses":{"201":{"description":"Subscription registrada/atualizada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PushSubscriptionResponse"}}}},"400":{"description":"Requisição inválida","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PushSubscriptionResponse"}}}},"401":{"description":"Não autenticado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PushSubscriptionResponse"}}}}}},"delete":{"tags":["Push Subscriptions"],"summary":"Remove a subscription Web Push do device atual (logout do device)","operationId":"cancelar","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PushSubscriptionDeleteRequest"}}},"required":true},"responses":{"204":{"description":"Subscription removida (idempotente)"},"401":{"description":"Não autenticado"}}}},"/public/nps/responses":{"post":{"tags":["NPS"],"summary":"Registra resposta de NPS usando o token recebido por e-mail","operationId":"responder_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NpsResponseRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NpsResponseResponse"}}}}}}},"/products/{productId}/variants":{"get":{"tags":["Variantes de Produto"],"summary":"Listar variantes do produto","operationId":"listar_8","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProductVariantResponse"}}}}}}},"post":{"tags":["Variantes de Produto"],"summary":"Cadastrar variante (SKU auto-gerado a partir do slug do produto + valores dos atributos)","operationId":"cadastrar_1","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductVariantRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductVariantResponse"}}}}}}},"/products/{productId}/variants/generate":{"post":{"tags":["Variantes de Produto"],"summary":"Gerar variantes em massa via produto cartesiano de atributos × valores (idempotente)","operationId":"gerarCartesiano","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VariantGenerationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProductVariantResponse"}}}}}}}},"/products/{productId}/service-config":{"get":{"tags":["Configuração de Serviço"],"summary":"Buscar config de serviço pelo produto","operationId":"buscarPorProduto","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ServiceConfigResponse"}}}}}},"post":{"tags":["Configuração de Serviço"],"summary":"Cadastrar config de serviço (apenas produtos SERVICE)","operationId":"cadastrar_2","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceConfigRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ServiceConfigResponse"}}}}}}},"/products/{productId}/questions":{"get":{"tags":["Perguntas de Produto (Q&A)"],"summary":"Listar perguntas públicas de um produto (somente respondidas e não ocultas)","operationId":"listarPublicas","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"Lista paginada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageProductQuestionResponse"}}}},"404":{"description":"Produto não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageProductQuestionResponse"}}}}}},"post":{"tags":["Perguntas de Produto (Q&A)"],"summary":"Customer faz uma pergunta sobre o produto","operationId":"perguntar","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductQuestionRequest"}}},"required":true},"responses":{"201":{"description":"Pergunta criada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductQuestionResponse"}}}},"404":{"description":"Produto não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductQuestionResponse"}}}},"409":{"description":"Limite de perguntas pendentes atingido","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductQuestionResponse"}}}}}}},"/products/{productId}/images":{"get":{"tags":["Imagens de Produto"],"summary":"Listar imagens do produto (ordenadas)","operationId":"listar_9","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProductImageResponse"}}}}}}},"post":{"tags":["Imagens de Produto"],"summary":"Adicionar imagem ao produto","operationId":"adicionar_2","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductImageRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductImageResponse"}}}}}}},"/products/variants/{variantId}/promotions":{"get":{"tags":["Promoções"],"summary":"Listar promoções vigentes e futuras da variante (público)","operationId":"listar_10","parameters":[{"name":"variantId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PromotionResponse"}}}}}}},"post":{"tags":["Promoções"],"summary":"Cadastrar promoção para a variante (apenas 1 vigente por vez)","operationId":"cadastrar_3","parameters":[{"name":"variantId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PromotionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PromotionResponse"}}}}}}},"/products/stores/{storeId}":{"post":{"tags":["Produtos"],"summary":"Cadastrar produto na loja","operationId":"cadastrar_4","parameters":[{"name":"storeId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductResponse"}}}}}}},"/payments/{paymentId}/cancel":{"post":{"tags":["Pagamentos"],"summary":"Customer cancela o pagamento PENDING","operationId":"cancelar_1","parameters":[{"name":"paymentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentResponse"}}}}}}},"/orders/checkout":{"post":{"tags":["Pedidos"],"summary":"Realizar checkout do carrinho gerando pedidos por loja","description":"SPEC-120: cartItemIds opcional restringe o checkout a itens do carrinho. SPEC-121: deliveries opcional define entrega (data/hora/endereço) por loja; loja sem override herda a entrega da festa.","operationId":"checkout","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckoutRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CheckoutResponse"}}}}}}},"/orders/checkout/preview":{"post":{"tags":["Pedidos"],"summary":"Preview do checkout: resumo por loja + taxas + saldo, sem criar pedido","description":"SPEC-122: calcula itens, subtotal, taxa da plataforma e entrega por loja, total e saldo aplicável com as mesmas validações do checkout, sem efeito colateral (não reserva slot, não baixa estoque, não toca no carrinho). A disponibilidade de slot de serviço só é garantida no checkout real.","operationId":"preview","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckoutPreviewRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CheckoutPreviewResponse"}}}}}}},"/notifications/{id}/read":{"post":{"tags":["Notifications"],"summary":"Marca uma notificação como lida (idempotente)","operationId":"marcarLida","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NotificationResponse"}}}}}}},"/notifications/me/read-all":{"post":{"tags":["Notifications"],"summary":"Marca todas as notificações do usuário logado como lidas","operationId":"marcarTodasLidas","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UnreadCountResponse"}}}}}}},"/me/change-password":{"post":{"tags":["Conta do usuário autenticado"],"summary":"Alterar senha do próprio usuário","operationId":"changePassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangePasswordRequest"}}},"required":true},"responses":{"204":{"description":"Senha alterada com sucesso"},"401":{"description":"Senha atual incorreta"},"403":{"description":"Operação bloqueada em sessão impersonada"},"404":{"description":"Usuário não encontrado"},"422":{"description":"Erro de validação"}}}},"/franchisees":{"get":{"tags":["Franqueados"],"summary":"Buscar franqueados com filtros","operationId":"buscarFranqueados","parameters":[{"name":"nome","in":"query","required":false,"schema":{"type":"string"}},{"name":"email","in":"query","required":false,"schema":{"type":"string"}},{"name":"type","in":"query","required":false,"schema":{"type":"string","enum":["MUNICIPAL","MESOREGIONAL","STATE"]}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"Franqueados retornados com sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageFranchiseeResponse"}}}}}},"post":{"tags":["Franqueados"],"summary":"Cadastrar novo franqueado","operationId":"cadastrarFranchisee","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FranchiseeRequest"}}},"required":true},"responses":{"201":{"description":"Franqueado cadastrado com sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FranchiseeResponse"}}}},"400":{"description":"Requisição inválida","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FranchiseeResponse"}}}},"422":{"description":"Erro de validação","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FranchiseeResponse"}}}}}}},"/franchisees/{id}/reenviar-verificacao":{"post":{"tags":["Franqueados"],"summary":"Reenviar e-mail de verificação ao franqueado. Requer permissão MANAGE_FRANCHISES.","operationId":"reenviarVerificacao","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"E-mail de verificação reenviado"},"400":{"description":"E-mail já verificado"},"403":{"description":"Sem permissão MANAGE_FRANCHISES"},"404":{"description":"Franqueado não encontrado"}}}},"/franchise/suppliers/{supplierId}/warning":{"post":{"tags":["Franchise: SupplierAction"],"summary":"Emitir advertência (incrementa warningCount, sem alterar status)","operationId":"advertir","parameters":[{"name":"supplierId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SupplierActionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SupplierResponse"}}}}}}},"/franchise/suppliers/{supplierId}/suspend":{"post":{"tags":["Franchise: SupplierAction"],"summary":"Suspender supplier (status → SUSPENDED) sem prazo","operationId":"suspender","parameters":[{"name":"supplierId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SupplierActionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SupplierResponse"}}}}}}},"/franchise/suppliers/{supplierId}/request-documents":{"post":{"tags":["Franchise: SupplierAction"],"summary":"Solicitar documentos pendentes (status → DOCUMENTS_PENDING)","operationId":"solicitarDocumentos","parameters":[{"name":"supplierId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SupplierActionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SupplierResponse"}}}}}}},"/franchise/suppliers/{supplierId}/reopen-review":{"post":{"tags":["Franchise: SupplierAction"],"summary":"Reabrir análise de supplier reprovado (status → IN_REVIEW)","operationId":"reabrirAnalise","parameters":[{"name":"supplierId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SupplierActionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SupplierResponse"}}}}}}},"/franchise/suppliers/{supplierId}/reject":{"post":{"tags":["Franchise: SupplierAction"],"summary":"Reprovar supplier (status → REJECTED) com justificativa","operationId":"reprovar","parameters":[{"name":"supplierId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SupplierActionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SupplierResponse"}}}}}}},"/franchise/suppliers/{supplierId}/reactivate":{"post":{"tags":["Franchise: SupplierAction"],"summary":"Reativar supplier suspenso (status → APPROVED) com justificativa","operationId":"reativar","parameters":[{"name":"supplierId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SupplierActionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SupplierResponse"}}}}}}},"/franchise/suppliers/{supplierId}/notes":{"get":{"tags":["Franchise: SupplierNotes"],"summary":"Listar notas do supplier (paginado, mais recentes primeiro)","operationId":"listar_11","parameters":[{"name":"supplierId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageSupplierNoteResponse"}}}}}},"post":{"tags":["Franchise: SupplierNotes"],"summary":"Criar nota privada sobre o supplier","operationId":"criar_2","parameters":[{"name":"supplierId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SupplierNoteRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SupplierNoteResponse"}}}}}}},"/franchise/suppliers/{supplierId}/approve":{"post":{"tags":["Franchise: SupplierAction"],"summary":"Aprovar supplier (status → APPROVED)","operationId":"aprovar","parameters":[{"name":"supplierId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SupplierResponse"}}}}}}},"/franchise/metrics/alerts/{alertId}/resolve":{"post":{"tags":["Franchise: Supplier Metrics"],"summary":"Marca um alerta como resolvido (admin)","operationId":"resolver","parameters":[{"name":"alertId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SupplierMetricsAlertResponse"}}}}}}},"/franchise/franchisees/me/payouts":{"get":{"tags":["Franchisee Payouts"],"summary":"Lista repasses do franqueado autenticado","operationId":"meus","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageFranchiseePayoutResponse"}}}}}},"post":{"tags":["Franchisee Payouts"],"summary":"Franqueado solicita repasse de comissão (debita imediatamente e dispara payout)","operationId":"solicitar_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FranchiseePayoutRequest"}}},"required":true},"responses":{"201":{"description":"Payout criado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FranchiseePayoutResponse"}}}}}}},"/franchise/admin/franchisees/{franchiseeId}/territory":{"get":{"tags":["Franchise: Territories"],"summary":"Admin lista o território de qualquer franqueado","operationId":"listarAdmin","parameters":[{"name":"franchiseeId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TerritoryResponse"}}}}}}},"post":{"tags":["Franchise: Territories"],"summary":"Admin adiciona cidades ao território do franqueado (idempotente; lança 409 se já houver outro franchisee do mesmo tipo na cidade)","operationId":"adicionarCidades","parameters":[{"name":"franchiseeId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TerritoryAddRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TerritoryResponse"}}}}}}}},"/franchise/admin/franchisees/{franchiseeId}/states":{"get":{"tags":["Franchise: States"],"summary":"Admin lista os estados do território de um franqueado","operationId":"listarAdmin_1","parameters":[{"name":"franchiseeId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FranchiseeStateResponse"}}}}}}},"post":{"tags":["Franchise: States"],"summary":"Admin adiciona estados ao território de um franqueado Estadual (idempotente; 409 se o estado já tem outro franqueado)","operationId":"adicionarEstados","parameters":[{"name":"franchiseeId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FranchiseeStateAddRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FranchiseeStateResponse"}}}}}}}},"/customers":{"post":{"tags":["Clientes"],"summary":"Cadastrar novo cliente","operationId":"cadastrarCustomer","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerRequest"}}},"required":true},"responses":{"201":{"description":"Cliente cadastrado com sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerResponse"}}}},"400":{"description":"Requisição inválida","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerResponse"}}}},"422":{"description":"Erro de validação","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerResponse"}}}}}}},"/customers/{customerId}/parties":{"get":{"tags":["Festas"],"summary":"Listar festas do cliente (filtrar por status opcional)","operationId":"listar_12","parameters":[{"name":"customerId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["ACTIVE","ARCHIVED"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PartyResponse"}}}}}}},"post":{"tags":["Festas"],"summary":"Cadastrar festa para um cliente","operationId":"cadastrar_5","parameters":[{"name":"customerId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartyRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PartyResponse"}}}}}}},"/customers/me/addresses":{"get":{"tags":["Endereços do Cliente"],"summary":"Listar endereços do cliente logado","operationId":"listar_13","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CustomerAddressResponse"}}}}}}},"post":{"tags":["Endereços do Cliente"],"summary":"Adicionar endereço ao perfil do cliente","operationId":"adicionar_3","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerAddressRequest"}}},"required":true},"responses":{"201":{"description":"Endereço cadastrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerAddressResponse"}}}},"404":{"description":"Cliente, cidade ou estado não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerAddressResponse"}}}},"422":{"description":"Erro de validação","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerAddressResponse"}}}}}}},"/customers/me/activate":{"post":{"tags":["Clientes"],"summary":"Ativar capacidade de compra reutilizando o usuário autenticado","operationId":"ativar","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerActivationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerResponse"}}}}}}},"/customer-withdrawals":{"post":{"tags":["CustomerWithdrawals"],"summary":"Cliente solicita saque da carteira (debita imediatamente o saldo disponível e dispara payout async)","operationId":"solicitar_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerWithdrawalRequest"}}},"required":true},"responses":{"201":{"description":"Withdrawal criado em PROCESSING","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerWithdrawalResponse"}}}}}}},"/chats/sub-orders/{subOrderId}/read":{"post":{"tags":["Chat"],"summary":"Marca todas as mensagens não-lidas do outro participante como lidas","operationId":"marcarLidas","parameters":[{"name":"subOrderId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/chats/sub-orders/{subOrderId}/messages":{"get":{"tags":["Chat"],"summary":"Listar mensagens (ordem cronológica)","operationId":"listar_14","parameters":[{"name":"subOrderId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ChatMessageResponse"}}}}}}},"post":{"tags":["Chat"],"summary":"Enviar uma mensagem (cria o chat se ainda não existir)","operationId":"enviar","parameters":[{"name":"subOrderId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatMessageRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ChatMessageResponse"}}}}}}},"/categories":{"get":{"tags":["Categorias"],"summary":"Listar categorias raiz (publico)","operationId":"listarRaiz","parameters":[{"name":"productType","in":"query","required":false,"schema":{"type":"string","enum":["PHYSICAL","SERVICE"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CategoryResponse"}}}}}}},"post":{"tags":["Categorias"],"summary":"Cadastrar categoria","operationId":"cadastrar_6","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CategoryResponse"}}}}}}},"/cart/merge":{"post":{"tags":["Carrinho"],"summary":"Mesclar carrinho anônimo no carrinho do customer logado","operationId":"merge","parameters":[{"name":"X-Cart-Session-Id","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CartResponse"}}}}}}},"/cart/items":{"post":{"tags":["Carrinho"],"summary":"Adicionar item (ou incrementar quantidade se variant já existe)","operationId":"adicionarItem","parameters":[{"name":"X-Cart-Session-Id","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CartItemRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CartResponse"}}}}}}},"/auth/refresh":{"post":{"tags":["Autenticação"],"summary":"Renovar token de acesso","operationId":"refreshToken","parameters":[{"name":"token","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LoginResponse"}}}}}}},"/auth/reenviar-verificacao":{"post":{"tags":["Autenticação"],"summary":"Reenviar e-mail de verificação","operationId":"reenviarVerificacao_1","parameters":[{"name":"email","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/auth/redefinir-senha":{"post":{"tags":["Autenticação"],"summary":"Redefinir senha via token","operationId":"redefinirSenha","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RedefinirSenhaRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/auth/recuperar-senha":{"post":{"tags":["Autenticação"],"summary":"Solicitar recuperação de senha","operationId":"recuperarSenha","parameters":[{"name":"email","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/auth/logout":{"post":{"tags":["Autenticação"],"summary":"Encerrar sessão (limpa o cookie de autenticação)","operationId":"logout","responses":{"200":{"description":"OK"}}}},"/auth/login":{"post":{"tags":["Autenticação"],"summary":"Realizar login","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LoginResponse"}}}}}}},"/auth/google":{"post":{"tags":["Autenticação"],"summary":"Login via Google (id_token)","operationId":"loginGoogle","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GoogleLoginRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LoginResponse"}}}}}}},"/admins":{"get":{"tags":["Administradores"],"summary":"Listar administradores (paginado). Requer permissão MANAGE_SYSTEM.","operationId":"listarAdmins","parameters":[{"name":"nome","in":"query","required":false,"schema":{"type":"string"}},{"name":"email","in":"query","required":false,"schema":{"type":"string"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"Página de administradores","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageAdminResponse"}}}},"403":{"description":"Sem permissão MANAGE_SYSTEM","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageAdminResponse"}}}}}},"post":{"tags":["Administradores"],"summary":"Cadastrar novo administrador","operationId":"cadastrarAdmin","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminRequest"}}},"required":true},"responses":{"201":{"description":"Administrador cadastrado com sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdminResponse"}}}},"400":{"description":"Requisição inválida","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdminResponse"}}}},"403":{"description":"Sem permissão MANAGE_USERS","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdminResponse"}}}},"422":{"description":"Erro de validação","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdminResponse"}}}}}}},"/admin/users/{id}/reset-password":{"post":{"tags":["Gestão de usuários (admin)"],"summary":"Reset de senha pelo admin (gera senha aleatória e envia por e-mail)","operationId":"resetSenha","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"Senha redefinida e enviada por e-mail"},"400":{"description":"Usuário inativo"},"404":{"description":"Usuário não encontrado"}}}},"/admin/legal/{slug}/versions":{"post":{"tags":["Content: Legal"],"summary":"Publica nova versão do documento (auto-incrementa version)","operationId":"publicar","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LegalDocumentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/LegalDocumentResponse"}}}}}}},"/admin/impersonate/{userId}":{"post":{"tags":["Admin: Impersonação"],"summary":"Inicia uma sessão de impersonação. Requer permissão IMPERSONATE_USERS.","operationId":"iniciar","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImpersonateRequest"}}},"required":true},"responses":{"200":{"description":"Sessão criada — retorna JWT impersonado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ImpersonationStartResponse"}}}},"400":{"description":"Tentativa de impersonar admin ou a si mesmo","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ImpersonationStartResponse"}}}},"403":{"description":"Admin sem permissão IMPERSONATE_USERS","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ImpersonationStartResponse"}}}},"404":{"description":"Usuário alvo não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ImpersonationStartResponse"}}}}}}},"/admin/impersonate/{sessionId}/end":{"post":{"tags":["Admin: Impersonação"],"summary":"Encerra uma sessão de impersonação específica por id (SPEC-106). Idempotente. Requer permissão VIEW_IMPERSONATION_LOG ou MANAGE_SYSTEM.","operationId":"encerrarPorId","parameters":[{"name":"sessionId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Sessão encerrada (ou já estava encerrada)","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ImpersonationSessionResponse"}}}},"403":{"description":"Sem permissão VIEW_IMPERSONATION_LOG/MANAGE_SYSTEM","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ImpersonationSessionResponse"}}}},"404":{"description":"Sessão de impersonação não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ImpersonationSessionResponse"}}}}}}},"/admin/impersonate/end":{"post":{"tags":["Admin: Impersonação"],"summary":"Encerra a sessão de impersonação atual (autenticado com JWT impersonado).","operationId":"encerrar","responses":{"200":{"description":"Sessão encerrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ImpersonationSessionResponse"}}}},"400":{"description":"Requisição não está em sessão de impersonação","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ImpersonationSessionResponse"}}}}}}},"/admin/faqs":{"get":{"tags":["Content: FAQ"],"summary":"Admin lista todos os FAQs (publicados ou não)","operationId":"listarAdmin_2","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageFaqResponse"}}}}}},"post":{"tags":["Content: FAQ"],"summary":"Admin cria FAQ","operationId":"criar_3","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FaqRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FaqResponse"}}}}}}},"/users/{id}/status":{"patch":{"tags":["Usuários"],"summary":"Alterar status do usuário","operationId":"alterarStatus","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AlterarStatusRequest"}}},"required":true},"responses":{"200":{"description":"Status alterado com sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}},"400":{"description":"Requisição inválida","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}},"404":{"description":"Usuário não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}},"422":{"description":"Erro de validação","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}}}}},"/users/me/notification-preferences":{"patch":{"tags":["Usuários"],"summary":"Atualizar preferências de notificação do usuário logado (email e push)","operationId":"atualizarPreferenciasNotificacao","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NotificationPreferencesRequest"}}},"required":true},"responses":{"200":{"description":"Preferências atualizadas com sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}},"401":{"description":"Não autenticado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}},"404":{"description":"Usuário não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}}}}},"/stores/addresses/{addressId}/primary":{"patch":{"tags":["Enderecos da Loja"],"summary":"Marcar endereco como principal (desmarca os anteriores)","operationId":"marcarComoPrimary","parameters":[{"name":"addressId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StoreAddressResponse"}}}}}}},"/products/{productId}/variants/bulk-stock":{"patch":{"tags":["Variantes de Produto"],"summary":"Aplicar estoque em massa para todas as variantes do produto","operationId":"aplicarEstoqueEmMassa","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VariantBulkStockRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"integer","format":"int32"}}}}}}}},"/products/{productId}/variants/bulk-price":{"patch":{"tags":["Variantes de Produto"],"summary":"Aplicar preço (e comparePrice opcional) em massa para todas as variantes do produto","operationId":"aplicarPrecoEmMassa","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VariantBulkPriceRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"integer","format":"int32"}}}}}}}},"/products/{id}/status":{"patch":{"tags":["Produtos"],"summary":"Alterar status do produto (DRAFT/PUBLISHED/PAUSED)","operationId":"alterarStatus_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductStatusRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductResponse"}}}}}}},"/products/{id}/featured":{"patch":{"tags":["Produtos"],"summary":"Marcar/desmarcar destaque (max 30 por loja)","operationId":"alterarFeatured","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductFeaturedRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductResponse"}}}}}}},"/products/variants/{variantId}/active":{"patch":{"tags":["Variantes de Produto"],"summary":"Ativar/desativar variante","operationId":"alterarAtivo","parameters":[{"name":"variantId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductVariantActiveRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductVariantResponse"}}}}}}},"/products/images/{imageId}/cover":{"patch":{"tags":["Imagens de Produto"],"summary":"Marcar imagem como capa (desmarca as anteriores)","operationId":"marcarComoCover","parameters":[{"name":"imageId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductImageResponse"}}}}}}},"/parties/{partyId}/unarchive":{"patch":{"tags":["Festas"],"summary":"Desarquivar festa","operationId":"desarquivar","parameters":[{"name":"partyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PartyResponse"}}}}}}},"/parties/{partyId}/archive":{"patch":{"tags":["Festas"],"summary":"Arquivar festa","operationId":"arquivar","parameters":[{"name":"partyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PartyResponse"}}}}}}},"/customers/me/addresses/{id}/default":{"patch":{"tags":["Endereços do Cliente"],"summary":"Marcar endereço como default (desmarca os anteriores)","operationId":"marcarComoDefault","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerAddressResponse"}}}}}}},"/cart/items/{itemId}":{"delete":{"tags":["Carrinho"],"summary":"Remover item do carrinho","operationId":"removerItem","parameters":[{"name":"X-Cart-Session-Id","in":"header","required":false,"schema":{"type":"string"}},{"name":"itemId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CartResponse"}}}}}},"patch":{"tags":["Carrinho"],"summary":"Atualizar quantity e pricingUnitQuantity de um item","operationId":"atualizarItem","parameters":[{"name":"X-Cart-Session-Id","in":"header","required":false,"schema":{"type":"string"}},{"name":"itemId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CartItemUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CartResponse"}}}}}}},"/admin/reviews/store/{reviewId}/unhide":{"patch":{"tags":["Moderação de Reviews"],"summary":"Restaurar uma review de loja previamente oculta","operationId":"restaurarStore","parameters":[{"name":"reviewId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StoreReviewResponse"}}}}}}},"/admin/reviews/store/{reviewId}/hide":{"patch":{"tags":["Moderação de Reviews"],"summary":"Ocultar uma review de loja","operationId":"ocultarStore","parameters":[{"name":"reviewId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HideReviewRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StoreReviewResponse"}}}}}}},"/admin/reviews/product/{reviewId}/unhide":{"patch":{"tags":["Moderação de Reviews"],"summary":"Restaurar uma review de produto previamente oculta","operationId":"restaurarProduct","parameters":[{"name":"reviewId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductReviewResponse"}}}}}}},"/admin/reviews/product/{reviewId}/hide":{"patch":{"tags":["Moderação de Reviews"],"summary":"Ocultar uma review de produto (não entra em listagem/média)","operationId":"ocultarProduct","parameters":[{"name":"reviewId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HideReviewRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductReviewResponse"}}}}}}},"/admin/questions/{id}/unhide":{"patch":{"tags":["Q&A — Moderação Admin"],"summary":"Restaurar pergunta previamente oculta","operationId":"desocultar","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Pergunta restaurada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductQuestionResponse"}}}},"404":{"description":"Pergunta não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductQuestionResponse"}}}}}}},"/admin/questions/{id}/hide":{"patch":{"tags":["Q&A — Moderação Admin"],"summary":"Ocultar pergunta da listagem pública (moderação)","operationId":"ocultar","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductQuestionHideRequest"}}},"required":true},"responses":{"200":{"description":"Pergunta oculta","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductQuestionResponse"}}}},"404":{"description":"Pergunta não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ProductQuestionResponse"}}}}}}},"/withdrawals/{id}":{"get":{"tags":["Withdrawals"],"summary":"Obter um saque por id (dono ou admin)","operationId":"obter","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WithdrawalResponse"}}}}}}},"/withdrawals/me":{"get":{"tags":["Withdrawals"],"summary":"Lista saques do supplier logado","operationId":"meus_1","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageWithdrawalResponse"}}}}}}},"/withdrawals/admin":{"get":{"tags":["Withdrawals"],"summary":"Admin lista todos os saques","operationId":"listarTodos","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageWithdrawalResponse"}}}}}}},"/users":{"get":{"tags":["Usuários"],"summary":"Buscar usuários com filtros","operationId":"buscarUsuarios","parameters":[{"name":"email","in":"query","required":false,"schema":{"type":"string"}},{"name":"nome","in":"query","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["ACTIVE","SUSPENDED","INACTIVE"]}},{"name":"profileType","in":"query","required":false,"schema":{"type":"string","enum":["CUSTOMER","SUPPLIER","FRANCHISEE","ADMIN"]}},{"name":"customer","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"Usuários retornados com sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageUserResponse"}}}}}}},"/users/{id}":{"get":{"tags":["Usuários"],"summary":"Buscar usuário por id. Requer permissão MANAGE_USERS.","operationId":"buscarPorId_6","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Usuário encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}},"403":{"description":"Sem permissão MANAGE_USERS","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}},"404":{"description":"Usuário não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserResponse"}}}}}}},"/suppliers/{supplierId}/documents/{documentId}/download":{"get":{"tags":["Documentos do Supplier"],"summary":"Baixar conteúdo de um documento","operationId":"download","parameters":[{"name":"supplierId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"documentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"X-Caller-Role","in":"header","required":true,"schema":{"type":"string","enum":["SUPPLIER","FRANCHISEE","ADMIN"]}},{"name":"X-Caller-Id","in":"header","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"Stream do arquivo","content":{"*/*":{"schema":{"type":"string","format":"binary"}}}},"403":{"description":"Caller sem permissão","content":{"*/*":{"schema":{"type":"string","format":"binary"}}}},"404":{"description":"Supplier ou documento não encontrado","content":{"*/*":{"schema":{"type":"string","format":"binary"}}}}}}},"/suppliers/me":{"get":{"tags":["Fornecedores"],"summary":"Retorna o supplier do usuário autenticado, com storeId/storeSlug. SPEC-064.","operationId":"me","responses":{"200":{"description":"Supplier do usuário autenticado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SupplierMeResponse"}}}},"401":{"description":"Não autenticado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SupplierMeResponse"}}}},"404":{"description":"Usuário não é um supplier","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SupplierMeResponse"}}}}}}},"/suppliers/me/questions":{"get":{"tags":["Perguntas de Produto (Q&A)"],"summary":"Fila do supplier autenticado (PENDING ou ANSWERED)","operationId":"listarMinhasQuestoes","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["PENDING","ANSWERED"]}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"Lista paginada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageSupplierProductQuestionResponse"}}}}}}},"/suppliers/me/product-reviews":{"get":{"tags":["Avaliações de Produto — Supplier"],"summary":"Lista paginada de reviews dos produtos do supplier logado, com filtros opcionais por productId, rating e hidden. SPEC-065.","operationId":"listarDoSupplierLogado","parameters":[{"name":"productId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"rating","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"hidden","in":"query","required":false,"schema":{"type":"boolean"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageProductReviewForSupplier"}}}}}}},"/suppliers/me/metrics":{"get":{"tags":["Supplier Metrics (me)"],"summary":"Métricas de performance do supplier logado (taxa de aceite, tempo de resposta, rating)","operationId":"minhasMetricas","parameters":[{"name":"windowDays","in":"query","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SupplierMetricsResponse"}}}}}}},"/supplier/agenda":{"get":{"tags":["Agenda do fornecedor"],"summary":"Lista paginada da agenda do fornecedor logado num período, com filtro opcional por status (RESERVED/BLOCKED). Reservas trazem pedido e cliente. SPEC-096.","operationId":"listarAgenda","parameters":[{"name":"from","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"to","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["BLOCKED","RESERVED"]}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageSupplierAgendaItemResponse"}}}}}}},"/sub-orders":{"get":{"tags":["Sub-pedidos"],"summary":"Lista paginada das sub-orders do supplier logado, com filtros opcionais por status e janela de createdAt. SPEC-064.","operationId":"listarDoSupplier","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["AWAITING_PAYMENT","PENDING","ACCEPTED","DELIVERED","CONTESTED","COMPLETED","CANCELLED","REJECTED"]}},{"name":"from","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"to","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageSubOrderResponse"}}}}}}},"/sub-orders/{id}":{"get":{"tags":["Sub-pedidos"],"summary":"Obtém uma sub-order pertencente ao supplier logado","operationId":"obterDoSupplier","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SubOrderResponse"}}}}}}},"/stores":{"get":{"tags":["Lojas"],"summary":"Buscar lojas com filtros (publico)","operationId":"buscarLojas","parameters":[{"name":"nome","in":"query","required":false,"schema":{"type":"string"}},{"name":"cityCodigoIbge","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["ACTIVE","SUSPENDED","PENDING"]}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageStoreResponse"}}}}}}},"/stores/{storeId}/reviews/me":{"get":{"tags":["Avaliações de Loja"],"summary":"Obter a própria review (404 se ainda não avaliou)","operationId":"obterMinha","parameters":[{"name":"storeId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StoreReviewResponse"}}}}}}},"/stores/suppliers/{supplierId}/all":{"get":{"tags":["Lojas"],"summary":"Listar todas as lojas do fornecedor","operationId":"listarPorSupplier","parameters":[{"name":"supplierId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StoreResponse"}}}}}}}},"/stores/slug/{slug}":{"get":{"tags":["Lojas"],"summary":"Buscar loja por slug (publico)","operationId":"buscarPorSlug","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StoreResponse"}}}}}}},"/stores/slug/{slug}/disponivel":{"get":{"tags":["Lojas"],"summary":"Verificar disponibilidade de slug (publico). Informe excludeStoreId na edição para não acusar o próprio slug","operationId":"verificarSlugDisponivel","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}},{"name":"excludeStoreId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SlugDisponivelResponse"}}}}}}},"/service-configs/{configId}/schedules":{"get":{"tags":["Agendamentos de Serviço"],"summary":"Listar schedules em um intervalo de datas","operationId":"listar_15","parameters":[{"name":"configId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"inicio","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"fim","in":"query","required":true,"schema":{"type":"string","format":"date"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ServiceScheduleResponse"}}}}}}}},
[...]
